$gold: #C79F27;

body {
  padding-top: 75px;
}

.btn {
  white-space: normal !important;
}

.btn-primary {
  background-color: $gold !important;
  border-color: $gold !important;
}

.category {
  margin-top: 50px;
}

.nominee {
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;

  &.voted {
    background: $gold !important;
    color: #fff;
  }
}

.description {
  font-size: 75%;
}

.category-name {
  text-align: center;
  margin-bottom: 20px;
  // font-size: 1.5rem;
  color: $gold;
}

.category .btn {
  border-radius: 0;
}

.winner {
  font-weight: bold !important;

  .nominee-name:after {
    content: " (Winner)"
  }
}
